@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.hand {
  text-align: center;
  display: inline-block;
  width:300px;

}

body {
  background-color: #2c3f5e;
}

h1 {
  margin: 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

h2 {
  margin: 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #232931;
  font-size: 2rem;
  color: #32d2ee;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 115px;
}

.img2 {
  transform: scaleX(-1);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.game-name {
  width:600px;
  position:relative;
  right:100px;
  top:30px;
}

.icon {
  position:relative;
  left:400px;
  bottom:130px;
  width:255px;
}

td{
  padding:0px 20px;  
}

table {
  margin-top:-120px;
  margin-bottom:20px;
  margin-left:-20px;
}